<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection"
         connectionString="Server=localhost;Port=3306;Uid=root;Password=HjGk+HhDWgDd09flyweJvQ==;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>                                
    <add key="EncrpytedPassword" value="JkXelUI3HUe+I9j4ESIEFg==" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>